.settings-box {
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #FFF;
  z-index: 1000;
  padding: 20px;
  transition: 0.3s;
  &.hide-settings {
    right: -250px;
  }
  .toggle-settings {
    position: absolute;
    left: -43px;
    top: 150px;
    background-color: #FFF;
    padding: 5px 9px;
    font-size: 22px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
  }
}