.settings-box {
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #FFF;
  z-index: 1000;
  padding: 20px;
  transition: 0.3s;
  &.hide-settings {
    right: -250px;
  }
  .toggle-settings {
    position: absolute;
    left: -43px;
    top: 150px;
    background-color: #FFF;
    padding: 5px 9px;
    font-size: 22px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
  }
  .option-box { 
    margin-bottom: 15px;
    border-bottom: 1px solid #EEE;
    .option-title {
      font-weight: bold;
      color: #666;
      margin: 10px 0 15px;
      font-size: 18px;
    }
  }
  .color-options {
    ul {
      $colors: #27ae60, #2980b9, #c0392b, #d35400, #8e44ad;
      @for $i from 1 through length($colors) {
        li:nth-child(#{$i}) {
          background-color: nth($colors, $i);
        }
        li {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          opacity: .7;
          cursor: pointer;
          display: inline-block;
          &.active {
            opacity: 1;
          }
        }
      }
    }
  }
}